<!--
-> alerts.html
-> @fraxgut
-> AGPLv3
-> Alerts HTML file.
-->

<h2>Alerts</h2>

<!-- Simple Alerts -->
<h3>Simple Alerts</h3>

<div class="alert-wrapper">
	<div class="alert alert--simple alert--info">
		<div class="alert-text">
			<i class="bx bx-error-circle alert-icon"></i>
			<strong>Info:</strong> This is an informational message providing relevant details.
		</div>
	</div>
</div>

<div class="alert-wrapper">
	<div class="alert alert--simple alert--success">
		<div class="alert-text">
			<i class="bx bx-error-circle alert-icon"></i>
			<strong>Success!</strong> Operation successful.
		</div>
	</div>
</div>

<div class="alert-wrapper">
	<div class="alert alert--simple alert--danger">
		<div class="alert-text">
			<i class="bx bx-error-circle alert-icon"></i>
			<strong>Danger!</strong> A serious problem has been detected.
		</div>
	</div>
</div>

<div class="alert-wrapper">
	<div class="alert alert--simple alert--warning">
		<div class="alert-text">
			<i class="bx bx-error-circle alert-icon"></i>
			<strong>Warning!</strong> Review the provided information carefully.
		</div>
	</div>
</div>

<div class="alert-wrapper">
	<div class="alert alert--simple alert--close alert--dismissible">
		<div class="alert-text">
			<i class="bx bx-error-circle alert-icon"></i>
			<strong>Close!</strong> This alert can be dismissed by clicking the x button.
		</div>
		<button type="button" aria-label="Close" _="on click remove closest .alert-wrapper" class="alert-close-button">
			<i class="bx bx-x-circle"></i>
		</button>
	</div>
</div>

<!-- Strong Alerts -->
<h3>Strong Alerts</h3>

<div class="alert-wrapper">
	<div class="alert alert--strong alert--info">
		<div class="alert-text">
			<i class="bx bx-error-circle alert-icon"></i>
			<strong>Info:</strong> This is an informational message providing relevant details.
		</div>
	</div>
</div>

<div class="alert-wrapper">
	<div class="alert alert--strong alert--success">
		<div class="alert-text">
			<i class="bx bx-error-circle alert-icon"></i>
			<strong>Success!</strong> Operation successful.
		</div>
	</div>
</div>

<div class="alert-wrapper">
	<div class="alert alert--strong alert--danger">
		<div class="alert-text">
			<i class="bx bx-error-circle alert-icon"></i>
			<strong>Danger!</strong> A serious problem has been detected.
		</div>
	</div>
</div>

<div class="alert-wrapper">
	<div class="alert alert--strong alert--warning">
		<div class="alert-text">
			<i class="bx bx-error-circle alert-icon"></i>
			<strong>Warning!</strong> Review the provided information carefully.
		</div>
	</div>
</div>

<div class="alert-wrapper">
	<div class="alert alert--strong alert--close alert--dismissible">
		<div class="alert-text">
			<i class="bx bx-error-circle alert-icon"></i>
			<strong>Close!</strong> This alert can be dismissed by clicking the x button.
		</div>
		<button type="button" aria-label="Close" _="on click remove closest .alert-wrapper" class="alert-close-button">
			<i class="bx bx-x-circle"></i>
		</button>
	</div>
</div>

<!--Alert List-->
<h3>Alert List</h3>
<div class="alert-wrapper">
	<div class="alert alert--strong alert--error" role="alert">
		<div class="alert-content">
			<div class="alert-list-title">
				<i class="bx bx-x-circle alert-icon"></i>
				<h3>
					A problem has been occurred while submitting your data.
				</h3>
			</div>
			<div class="alert__details">
				<ul class="alert__list">
					<li>This username is already in use</li>
					<li>Email is already in use</li>
					<li>Password field can't be empty</li>
					<li>Please enter a valid phone number</li>
				</ul>
			</div>
		</div>
	</div>
</div>