<!--
-> avatar.html
-> @fraxgut
-> AGPLv3
-> Avatar HTML file.
-->

<h2>Avatars</h2>

<!-- Avatar Sizes -->
<h3>Avatar Sizes</h3>
<div class="element-wrapper">
  <div class="avatar avatar--noimg">X</div>
  <img class="avatar avatar--img avatar--small" src="../assets/img/avatar.jpg" alt="Small Avatar">
  <img class="avatar avatar--img avatar--medium" src="../assets/img/avatar.jpg" alt="Medium Avatar">
  <img class="avatar avatar--img avatar--large" src="../assets/img/avatar.jpg" alt="Large Avatar">
  <img class="avatar avatar--img avatar--xlarge" src="../assets/img/avatar.jpg" alt="Extralarge Avatar">
  <img class="avatar avatar--img avatar--xxlarge" src="../assets/img/avatar.jpg" alt="Extraextralarge Avatar">
</div>

<!-- Avatar Online -->
<h3>Avatar Online</h3>
<div class="element-wrapper">
  <div class="avatar avatar--noimg avatar--online">X</div>
  <div class="avatar avatar--img avatar--medium avatar--online">
    <img src="../assets/img/avatar.jpg" alt="Online Avatar">
  </div>
</div>

<!-- Avatar Group -->
<h3>Avatar Group</h3>
<div class="element-wrapper">
  <div class="avatar-group">
    <a href="#">
      <img class="avatar avatar--img avatar--medium" src="../assets/img/avatar.jpg" alt="Image Description">
    </a>
    <a href="#">
      <img class="avatar avatar--img avatar--medium" src="../assets/img/avatar.jpg" alt="Image Description">
    </a>
    <a href="#">
      <img class="avatar avatar--img avatar--medium" src="../assets/img/avatar.jpg" alt="Image Description">
    </a>
    <a href="#">
      <img class="avatar avatar--img avatar--medium" src="../assets/img/avatar.jpg" alt="Image Description">
    </a>
    <a href="#">
      <div class="avatar group-count">n+</div>
    </a>
  </div>
</div>