<!--
-> badge.html
-> @fraxgut
-> AGPLv3
-> Badge HTML file.
-->

<h2>Badge</h2>

<!-- Default Badge -->
<h3>Default Badge</h3>

<div class="element-wrapper">
  <span class="badge badge--active">Active</span>
  <span class="badge badge--inactive">Inactive</span>
  <span class="badge badge--review">Review</span>
  <span class="badge badge--pending">Pending</span>
  <span class="badge badge--banned">Banned</span>
</div>


<!-- Number Badge -->
<h3>Number Badge</h3>

<div class="element-wrapper">
  <!-- Badge Position -->
  <div class="element-wrapper">
    <button type="button" aria-label="Button" class="button-with-badge">
      <i class="bx bxs-bell"></i>
      <span class="badge badge--number">n</span>
    </button>
  </div>

  <!-- Badge in List -->
  <div class="element-wrapper">
    <div class="list">
      <a href="#" class="list-item-with-badge">
        <i class="bx bxs-objects-horizontal-center"></i>
        <p class="list-item-text">Submenu</p>
        <div class="badge badge--list">n</div>
      </a>
    </div>
  </div>
</div>