<!--
-> button.html
-> @fraxgut
-> AGPLv3
-> Button HTML file.
-->

<h2>Button</h2>

<!-- Button Default -->
<h3>Button Default</h3>
<div class="element-wrapper">
  <button type="button" class="button button--primary">
    Primary
  </button>
  <button type="button" class="button button--warning">
    Warning
  </button>
  <button type="button" class="button button--success">
    <i class="bx bxs-cart"></i>
    Success
  </button>
  <button type="button" class="button button--danger">
    <i class="bx bxs-cart"></i>
    Danger
  </button>
  <button type="button" class="button button--white">
    White
  </button>
  <button type="button" class="button button--white" disabled>
    Disabled
  </button>
</div>

<!-- Button Rounded -->
<h3>Button Rounded</h3>
<div class="element-wrapper">
  <button type="button" class="button button--success button--rounded">
    Rounded
  </button>
  <button type="button" class="button button--success">
    Default
  </button>
</div>

<!-- Button Size -->
<h3>Button Size</h3>
<div class="element-wrapper">
  <button type="button" class="button button--small button--success">
    Small
  </button>
  <button type="button" class="button button--success">
    Normal
  </button>
  <button type="button" class="button button--large button--success">
    Large
  </button>
</div>

<!-- Button Icon -->
<h3>Button Icon</h3>
<div class="element-wrapper">
  <button type="button" class="button button--icon button--success" aria-label="Icon">
    <i class="bx bxs-cart"></i>
  </button>
  <button type="button" class="button button--icon button--white" aria-label="Icon">
    <i class="bx bxs-cart"></i>
  </button>
</div>

<!-- Button Strong -->
<h3>Button Strong</h3>
<div class="element-wrapper">
  <button type="button" class="button button--strong button--primary">
    Primary
  </button>
  <button type="button" class="button button--strong button--warning">
    Warning
  </button>
  <button type="button" class="button button--strong button--success">
    <i class="bx bxs-cart"></i>
    Success
  </button>
  <button type="button" class="button button--strong button--danger">
    <i class="bx bxs-cart"></i>
    Danger
  </button>
  <button type="button" class="button button--strong button--white">
    White
  </button>
  <button type="button" class="button button--strong button--white" disabled>
    Disabled
  </button>
</div>

<!-- Button Strong Fixed -->
<h3>Button Strong Fixed</h3>
<div class="element-wrapper">
  <button type="button" class="button button--strong button--fixed button--primary">
    Primary
  </button>
  <button type="button" class="button button--strong button--fixed button--warning">
    Warning
  </button>
  <button type="button" class="button button--strong button--fixed button--success">
    <i class="bx bxs-cart"></i>
    Success
  </button>
  <button type="button" class="button button--strong button--fixed button--danger">
    <i class="bx bxs-cart"></i>
    Danger
  </button>
  <button type="button" class="button button--strong button--fixed button--white">
    White
  </button>
  <button type="button" class="button button--strong button--fixed button--white" disabled>
    Disabled
  </button>
</div>