@import '_variables.scss';
@import 'components/_accordion.scss';
@import 'components/_alerts.scss';
@import 'components/_avatar.scss';
@import 'components/_badge.scss';
@import 'components/_breadcrumb.scss';
@import 'components/_button.scss';
@import 'components/_card.scss';

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $global-padding;
  margin: auto;
  margin-inline: auto;
  font-family: "Lunasima", sans-serif;
  font-size: $global-font-size;
  line-height: $global-line-height;
}

h1,
h2,
h3 {
  text-align: center;
}

.hidden {
  display: none;
}

.element-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}